:root {
    --color-navbar: #50879c;
    --color-navbar-text : #ffffff;
    --color-body:	rgb(92,177,182 ,0.7);
    --color-titre-presentation: #50879C;
    --color-blue4: #458DC7;
    --color-blue5: #A5D2F1;
    --
}

/* Start Navbar*/
.navbar {
    background: var(--color-navbar) ;
    position: fixed ;
}
.nav-link {
    color: var(--color-navbar-text) !important;
}
.navbar-brand {
    color: var(--color-navbar-text) !important;
}
.btn-outline-success {
    border-color: #ffffff !important;
    color: #ffffff !important;
}
/* End Navbar*/
