:root {
    --color-navbar: #50879C;
    --color-navbar-text : #ffffff;
    --color-titre-presentation: #50879C;
    --color-orange: #F3CB83;
    --color-blue-light: #4B8C90;
    --color-blue-dark:	#1B4555;
}
/* Start Navbar*/
.navbar {
    background: var(--color-navbar) ;
    position: fixed ;
}
.nav-link {
    color: var(--color-navbar-text) !important;
}
.navbar-brand {
    color: var(--color-navbar-text) !important;
}
.btn-outline-success {
    border-color: #ffffff !important;
    color: #ffffff !important;
}
/* End Navbar*/

/* Start Slider */
.carousel-inner {
    margin-bottom: 20px;
}

/* End Slider */

/* Start Presentation */

.presentation-bloc {
    margin-bottom: 40px;    
}
.titre-presentation {
    color:var(--color-titre-presentation) ;
    text-align: center;
    margin: 10px;
}
/* End Presentation */
 
/* Start Card */
.card-bloc {
    margin-top: 40px;
    margin-bottom: 40px;
 }
 /* End Card */
.btn-primary {
    --bs-btn-bg:var(--color-blue-light) !important;
    --bs-btn-border-color:var(--color-blue-light)!important;
    --bs-btn-hover-bg: var(--color-orange) !important ;
    --bs-btn-hover-border-color: var(--color-orange) !important;
    --bs-btn-active-border-color: var(--color-orange) !important;
 }
  /* evenements */

  .clicker {
    
    background-color: #50879C;
    color:#FFF;
    text-align: center;
    text-decoration: none;
  
    

  }
  .clicker.hidden {
    display: none;
  }
  .hiddendiv {
    height: 0px;
    background-color: green;
    overflow: hidden;
    transition: height 0.5s;
  }
  .hiddendiv.nr2 {
    background-color: red;
  }
  
  #showdiv1:target ~ div a[href="#showdiv1"],
  #showdiv2:target ~ div a[href="#showdiv2"],
  #showdiv3:target ~ div a[href="#showdiv3"],
  #showdiv4:target ~ div a[href="#showdiv4"],
  #showdiv5:target ~ div a[href="#showdiv5"],
  #showdiv6:target ~ div a[href="#showdiv6"] {
    display: none;
  }
  #showdiv1:target ~ div a[href="#hidediv1"],
  #showdiv2:target ~ div a[href="#hidediv2"],
  #showdiv3:target ~ div a[href="#showdiv3"],
  #showdiv4:target ~ div a[href="#showdiv4"],
  #showdiv5:target ~ div a[href="#showdiv5"],
  #showdiv6:target ~ div a[href="#showdiv6"] {
    display: inline-block;
  }
  #showdiv1:target ~ div .hiddendiv.nr1,
  #showdiv2:target ~ div .hiddendiv.nr2,
  #showdiv3:target ~ div .hiddendiv.nr3,
  #showdiv4:target ~ div .hiddendiv.nr4,
  #showdiv5:target ~ div .hiddendiv.nr5,
  #showdiv6:target ~ div .hiddendiv.nr6 {
    height: 130px;
  }
  /* end_evenements */


/* 

Extra small (xs) devices ( portrait phones, less than 576px)

Small(sm) devices ( landscape phones, 576px and up)
@media (min-width: 576px)

Medium (md) devices ( tablets, 768px and up)
@media (min-width: 768px)

Large (lg) devices ( desktops, 992px and up)
@media (min-width: 992px)

Extra (xl) devices ( large desktops, 1200px and up)
@media (min-width: 1200px)

*/


